<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes Rechazados</title>
</head>
<body>
    <h1>Estudiantes Rechazados para el curso</h1>

    <% if (estudiantes.length === 0) { %>
        <p>No hay estudiantes rechazados en este momento.</p>
    <% } else { %>
        <ul>
            <% estudiantes.forEach(estudiante => { %>
                <li>
                    <%= estudiante.apellido %> <%= estudiante.nombre %> - <%= estudiante.dni %> - <%= estudiante.email %>
                    <form action="/aceptar-estudiante-rechazado/<%= estudiante._id %>/<%= estudiante.cursoPerteneciente %>" method="POST">
                        <button type="submit">Aceptar</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    <% } %>

    <a href="/preceptor-dashboard">Volver al dashboard</a>
</body>
</html>
